
# テストの雛形にするcirファイルの絶対パス(.cir拡張子は含めない)
test_file="<テストの雛形にするcirファイルの絶対パス>"

# テストケース指定
test_case={
    "L":[
        "0.15u",
        "0.53u",
        "1.09u",
        "1.83u",
        "2.71u",
        "3.73u",
        "4.88u",
        "6.14u",
        "7.52u",
        "8.99u",
        "10.56u",
        "28.07u",
        "52.08u",
        "78.01u",
        "103.75u",
        "127.72u",
        "148.78u",
        "166.15u",
        "179.36u",
        "188.27u"
    ]
    }
